.calendar {
	&__header {
		display: flex;
		align-items: center;
		cursor: pointer;
		&--title {
			display: flex;
			align-items: center;
		}
		&--expand {
			display: flex;
			align-items: center;
			margin: 0 12px 0 10px;
		}
	}
	&__content {
		height: auto;

		&--wrapper {
			display: flex;

			&--inner {
				width: 100%;
			}
		}
	}
}
