@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--icon-color: #fff;
	--icon-size: 40px;

	--bg: rgb(53, 42, 42);
	--bg-input: hsla(0, 0%, 100%, 0.2);
	// Header
	--hd-text-color: #ffffff;
	--hd-icon-color-hover: #202020;
}

.app {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	width: 100vw;
	height: 100vh;
	background-color: var(--bg);
	overflow: hidden;
}

.container {
	display: flex;
	height: calc(100% - 44px);
}

button {
	border: none;
	outline: none;
	cursor: pointer;
	background-color: transparent;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}
