.sidebar {
	z-index: 109;
	position: relative;
	// flex: 20%;
	background-color: #fafafa;
	// min-width: 260px;
	// width: 100%;
	// flex: 1;
	overflow: hidden;
	&__overlay {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.2);
		z-index: 108;
		backdrop-filter: blur(9px);
		// transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	}
	&__layout {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		z-index: 109;

		&-header {
			border-bottom: 2px solid rgba(8, 41, 228, 0.2);
			// max-height: 62px;
			height: 80px;
			min-height: 80px;
			padding: 8px 0;
			display: flex;
			align-items: center;
			justify-content: center;
			// & > button {
			// 	display: flex;
			// 	align-items: center;
			// 	border-radius: 10px;
			// 	background-color: #0091ea;
			// 	color: #fff;
			// 	padding: 10px 24px;
			// 	font-weight: bold;
			// 	text-transform: capitalize;
			// }
		}

		&-content {
			flex: 1;
			overflow: hidden auto;

			// height: calc(100% - 58px - 80px);
			// min-height: calc(100% - 58px - 80px);
			// max-height: calc(100% - 58px);
			padding: 1rem 0.5rem;
			background-color: #fafafa;
		}

		&-footer {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			border-top: 2px solid rgba(8, 41, 228, 0.2);
			padding: 8px;
			z-index: 10;
			// margin-top: -0.5rem;
			display: flex;
			justify-content: center;
			background-color: #fafafa;
			a {
				text-decoration: none;
				display: inline-block;
				width: fit-content;
				height: 100%;
				text-align: center;
				justify-self: center;
				img {
					width: 50px;
					height: 100%;
					margin-right: 10px;
				}
			}
		}
	}
}

.btn__toggle {
	position: fixed;
	top: 10px;
	left: 15px;
	z-index: 109;
	// background-color: #fafafa;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	border-radius: 50%;
	background-color: transparent;
	width: 60px;
	height: 60px;
}

@media screen and (max-width: 768px) {
	// .btn__toggle {
	// 	display: block;
	// }

	.sidebar {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		&__overlay {
			display: block;
		}
	}
}
