.sidebar {
	position: relative;
	z-index: 109;
	// height: 100%;
	background-color: #fafafa;
	min-width: 260px;
	flex: 1;
	transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	overflow: hidden;

	&__layout {
		height: 100%;
		display: flex;
		flex-direction: column;
		z-index: 101;

		&-header {
			border-bottom: 2px solid rgba(8, 41, 228, 0.2);
			max-height: 62px;
			padding: 8px 0;
			display: flex;
			align-items: center;
			justify-content: center;
			button {
				display: flex;
				align-items: center;
				border-radius: 10px;
				background-color: #0091ea;
				color: #fff;
				padding: 10px 24px;
				font-weight: bold;
				text-transform: capitalize;
			}
		}

		&-content {
			flex: 1;
			height: calc(100% - 58px - 62px);
			padding: 1rem 0.5rem;
			background-color: #fafafa;
		}

		&-footer {
			border-top: 2px solid rgba(8, 41, 228, 0.2);
			padding: 15px 15px 10px;
			z-index: 10;
			margin-top: -0.5rem;
			display: flex;
			justify-content: center;
			a {
				text-decoration: none;
				display: inline-block;
				width: fit-content;
				height: 100%;
				text-align: center;
				justify-self: center;
				img {
					width: 50px;
					height: 100%;
					margin-right: 10px;
				}
			}
		}
	}
}
