.main {
	flex: 3;
	width: 100%;
	height: 100%;
	background-image: url(../../assets/images/bg_main.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 30px 40px;
	overflow: auto;
}

.editor {
	&__header {
		flex-shrink: 0;
		position: sticky;
		top: 0;
		z-index: 2;
		display: flex;
		padding: 36px 55px 20px;

		&--content {
			display: flex;
			width: 80%;
			padding-bottom: 8px;
			align-items: center;
			justify-content: space-between;

			& > h2 {
				word-break: break-word;
			}
			& > button {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-left: 30px;
				background-color: #0091ea;
				padding: 10px;
				border-radius: 5px;
				color: #fff;

				& > svg {
					margin-right: 5px;
				}

				&:hover {
					filter: brightness(1.2);
				}
			}
		}
	}
}

// .listTodo {
// 	width: 100%;
// 	height: calc(100% - 160px);
// 	background-color: rgb(94, 25, 25);
// }
