.projectList__content--item {
	border-radius: 5px;
	display: flex;
	align-items: center;
	padding: 5px 16px 5px 12px;
	background-color: transparent;

	&-icon {
		margin-right: 15px;
		margin-left: 11.5px;
		position: relative;

		&::before {
			position: absolute;
			content: '';
			top: 50%;
			left: 50%;
			width: 10px;
			height: 10px;
			transform: translate(-50%, -50%);
			background-color: rgb(128, 14, 14);
			border-radius: 50%;
		}
	}
	&:hover {
		background: #ececec;
	}

	&-content {
		flex-shrink: 1;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		& > p {
			cursor: pointer;
		}
	}

	&-actions {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		& span {
			margin-left: 8px;
			cursor: pointer;
			border-radius: 50%;
			padding: 3px;
			width: 24px;
			height: 24px;
			display: flex;
			justify-content: center;
			align-items: center;

			& * {
				width: 100%;
				height: 100%;
			}
			&:hover {
				background-color: rgb(165, 9, 9);
			}
		}
	}
}
