.addForm {
	background-color: transparent;
	position: relative;

	& > header,
	main,
	footer {
		width: 100%;
	}

	&__header {
		padding: 5px 0px;
		text-transform: capitalize;
		border-bottom: 1px solid black;
	}

	&__main {
		background-color: burlywood;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		flex-wrap: wrap;
		padding: 5px 0px;

		&--text {
			display: flex;
			width: 100%;
			padding: 12px;

			& input {
				border: none;
				outline: none;
				height: 50px;
				font-size: 1rem;

				& input:focus {
					border-bottom: 1px solid black;
				}
			}
		}
	}
}
