.addForm {
	background-color: transparent;
	position: relative;

	& > header,
	main,
	footer {
		width: 100%;
	}

	&__header {
		padding: 5px 0px;
		text-transform: capitalize;
		border-bottom: 1px solid black;
	}

	&__main {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		padding: 5px 0px;

		&--text {
			display: flex;
			flex-direction: column;
			width: 100%;
			padding: 12px;

			& > input,
			textarea {
				border: none;
				outline: none;
				height: 50px;

				&:focus {
					border-bottom: 1px solid black;
				}
			}

			& > input {
				font-size: 1rem;
				font-weight: 500;
			}

			& > textarea {
				font-family: inherit;
				font-size: inherit;
			}
		}
	}

    &__remind
}
