.addForm {
	--font--size-label: 20px;
	background-color: transparent;
	position: relative;
	text-transform: capitalize;

	&__header {
		padding: 5px 0px;
		border-bottom: 1px solid black;
	}

	&__main {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		padding: 5px 0px;

		& > div {
			width: 100%;
			background-color: rgb(151, 33, 33);
		}

		&--text {
			display: flex;
			flex-direction: column;
			width: 100%;
			padding: 12px;

			& > input,
			textarea {
				border: none;
				outline: none;
				height: 50px;

				&:focus {
					border-bottom: 1px solid black;
				}
			}

			& > input {
				font-size: 1rem;
				font-weight: 500;
			}

			& > textarea {
				font-family: inherit;
				font-size: 16px;
			}
		}

		&--remind {
			width: 100%;
			display: flex;
			align-items: center;
			padding: 12px 0px;
			font-size: var(--font--size-label);

			& p {
				margin-left: 10px;
			}
		}

		&--pickDay {
		}
	}
}
