.projectList {
	--font-size-label: 20px;
	margin-top: 12px;
	&__header {
		font-size: var(--font-size-label);
		display: flex;
		align-items: center;
		padding: 10px 0px;

		&--title {
			flex: 1;
			margin-right: 10px;
			display: flex;
			align-items: center;

			& > p {
				font-weight: 450;
			}
		}
		&--expand {
			display: flex;
			align-items: center;
			justify-content: flex-end;

			border-radius: 50%;
			overflow: hidden;
			transition: all 0.2s ease-in-out;

			& span {
				margin-right: 12px;
				cursor: pointer;
				border-radius: 50%;
				width: 26px;
				height: 26px;
				display: flex;
				justify-content: center;
				align-items: center;

				&:hover {
					background-color: #eee;
				}
			}
		}
	}
}
