.modal__container {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s ease;
	background-color: rgba(0, 0, 0, 0.5);

	&.active {
		opacity: 1;
		visibility: visible;

		.modal__box {
			transform: translateY(0px);
		}
	}
}

.modal__box {
	padding: 16px;
	width: 400px;
	height: 400px;
	background-color: aquamarine;
	backdrop-filter: blur(5px);
	transform: translateY(-100%);
	transition: all 0.4s ease;
}
