.sidebar {
	position: relative;
	z-index: 109;
	height: 100%;
	background-color: aqua;
	min-width: 250px;
	width: 300px;
	transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

	&__inner {
		height: 100%;
		position: relative;
		z-index: 101;
	}

	&__layout {
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 101;

		&-header {
			border-bottom: 1px solid rgba(179, 184, 212, 0.2);
			padding: 24px;
			font-weight: bold;
			font-size: 14px;
			p {
			}
		}
	}
}
